
{% extends 'products/layouts/main.html' %}
{% load static %}
{% block content %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2>About US</h2><br /><br />
    <video width="500" height="500" controls>
  <source src="{% static 'video/aboutvideo.mp4' %}" type="video/mp4">
  Your browser does not support the video tag.
</video>
  <p>

  Bookstores are special places, full of the smell of new books, browsing the shelves for your next great read, booksellers you know you can count on for great, personal recommendations, a community you know will be open and welcoming.

    We know that booksellers help readers discover and share the magic of books. They are dedicated to helping you find the book you need--the book that could change your life. When they recommend a book to you, they are genuinely looking to make a connection and create an experience for you.

    We want to give you a way to celebrate your favorite bookstore with with other book lovers: just use the #loveyourbookstore hashtag and post a photo, quote, or story about your favorite bookstore.

    ​The Love Your Bookstore initiative is the brainchild of booklover Dominique Raccah, the Publisher and CEO of Sourcebooks and PW's Publishing Person of the Year (2016).</p>
    <p>
      Our company is a comprehensive online bookstore for both books and other products of every point of knowledge. Our philosophy is based on information, communication and education, which we feel should be balanced out with a daily dose of knowledge, wisdom, understanding (overstanding, and innerstanding).



Our website features books from every literary genre, allowing us to appeal to any particular taste a customer may have. Can't find what you're looking for? We can order the book for you.



In just a few business days, we'll get that book to you so that you can enjoy a quiet evening at home, prepare a nice gift for someone or simply use it to expand your horizons.



Our experienced staff can assist you in selecting the right literature and will be glad to go that extra mile for you!
    </p>

<!-- <p><a href="{% url 'myapp:index' %}">Chick here to go to index Page</a></p> -->
</div>
</div>





{% endblock content %}