{% load static %}
<div class="bg-dark">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarNav">
                       <a class="navbar-brand" href="{% url '/' %}">
            <img src="{% static 'images/logo.jpg' %}" alt="" width="10%" height="10%" class="d-inline-block align-text-top">
            Quick Photo Gallery App
          </a>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url '/' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'add-prod' %}">Add Product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}">About Us</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>